h1{
    color : brown;
}



p,h2{
  text-align: center;
  border : solid; 
  display : flex;
  justify-content: space-evenly;
  background-color: cadetblue ;
  font-family: 'Times New Roman';
  padding : 2px;
margin: 25px;
border-radius: 500px; 
font-size: 30px;   
  
}
body{
    background-color:lightblue;
    font-family: 'fantasy';
    padding : 20px;
margin: 25px;
border-radius: 100px;
font-size: 30px;
line-height: 50px;
}